/* purgecss start ignore */
@tailwind  base;
/* purgecss end ignore */

html, body {
  @apply font-serif;
}

body {
  width: 100%;
}

header {
  @apply py-2;
  @apply mb-10;
  @apply border-b-2;
  @apply pb-6

}

@screen sm {
  body {
    width: 80%;
    max-width: 800px;
  }

}

header nav > ul {
  justify-content: flex-end;
}

@screen md {
  header {
    @apply justify-between;
    @apply flex;
  }

}

/*
  Content sections conventions
*/
section {
  @apply pb-10;
}
p+p, p+blockquote {
  @apply mt-4;
}

blockquote {
  @apply bg-gray-200;
  @apply px-4 py-6;
  @apply my-4;
  @apply italic;
}

.post h2 {
  @apply text-2xl;
  @apply my-4;
  @apply border-l-8;
  @apply border-blue-900;
  @apply text-2xl;
  @apply mt-8 mb-4;
  @apply text-blue-900;
  @apply pl-4;
}

section p, section li {
  @apply text-lg;
}

.latest-blog-post {
  @apply bg-gray-200;
  @apply px-4 py-6;
  @apply my-4;
  @apply text-2xl;
  @apply my-4;
  @apply border-l-8;
  @apply border-blue-900;
  @apply text-2xl;
  @apply mt-8 mb-4;
  @apply text-blue-900;
  @apply pl-4;
}

.latest-blog-post h2 {
  @apply mb-4;
}

.latest-blog-post small {
  @apply block;
  @apply text-sm;
}

section h3 {
  @apply text-2xl;
  @apply mt-6 mb-2;
  @apply font-bold;
  @apply text-blue-900;
  @apply tracking-tight;
}

h1.heading {
  @apply text-3xl;
  @apply leading-snug;
  @apply text-blue-900;
  @apply mb-4;
  @apply font-semibold;
}

/*
  Base styles for links
*/
a {
  @apply border-b-2;
  @apply border-blue-900;

  transition: border-color .2s ease-in;
}
a:hover,
a:focus {
  @apply border-blue-600;
}
a.naked-link:link,
a.naked-link:visited {
  @apply border-0;
}

a.naked-link:hover {
  @apply border-b-2;
  @apply border-blue-900;

}

pre[class*="language-"], pre {
  /* need importants to override prism-material */
  @apply my-4 !important;
}

code, pre {
  @apply bg-gray-200;
  @apply p-1;
  @apply rounded;
}

pre > code {
  padding: 0 !important;
}

/*
  Navigation links
*/

.nav-tab {
  @apply inline-block;
  @apply text-blue-900;
  @apply font-semibold;
  @apply px-2;
  @apply py-1;
  @apply border-b-0;
  @apply rounded;
}
.nav-tab:hover {
  @apply bg-white;
  @apply text-teal-500;
  @apply border-b-0;
}


.filter-bw-800 {
  filter: grayscale(0.8);
}

.mb--2 {
  margin-bottom: -0.5rem;
}
.mb--4 {
  margin-bottom: -1rem;
}

.pagination {
  @apply bg-blue-900;
}

@screen md {
  .pagination {
    @apply flex;
  }
}

.pagination ol {
  @apply flex flex-wrap;
}

.pagination ol li {
  @apply list-none;
}


.pagination a, .pagination span {
  @apply bg-blue-900;
  @apply py-2;
  @apply px-6;
  @apply border-b-0;
  @apply text-white;
  @apply block;
}

@screen md {
  .pagination a, .pagination span {
    @apply px-4;
  }
}

.pagination a[aria-current] {
  @apply bg-blue-600;

}

.pagination a:hover {
  @apply bg-white;
  @apply text-gray-800;
}

/* purgecss start ignore */
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;
