
<header>
  <h1>
    <a href="/" class="naked-link">Jack Franklin</a>
  </h1>
  <nav>
    {%
      set linkList = [
        { "url": "/blog" , "text": "Blog"},
        { "url": "/speaking" , "text": "Speaking"},
        { "url": "https://jackf.io/bsky" , "text": "Bluesky"},
        { "url": "/feed.xml" , "text": "RSS"}
      ]
    %}
    {% include "navigation-links.njk" %}
  </nav>
</header>


