
<header>
  <h1 class="text-blue-900 text-3xl">
    <a href="/" class="naked-link">Jack Franklin</a>
  </h1>
  <nav>
    {%
      set linkList = [
        { "url": "/blog" , "text": "Blog"},
        { "url": "/speaking" , "text": "Speaking"},
        { "url": "https://www.twitter.com/Jack_Franklin" , "text": "Twitter"},
        { "url": "/feed.xml" , "text": "RSS"}
      ]
    %}
    {% include "navigation-links.njk" %}
  </nav>
</header>


