:root {
  --dark: #353535ff;
  --green: #3c6e71ff;
  --white: #ffffffff;
  --grey: #d9d9d9;
  --blue: #284b63ff;

  --spacing-unit: 4px;

  --space-s: var(--spacing-unit);
  --space-m: calc(2 * var(--spacing-unit));
  --space-l: calc(4 * var(--spacing-unit));
  --space-xl: calc(8 * var(--spacing-unit));

  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4rem;
}

html,
body {
  font-family: 'Noto Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.flow > * + *,
.post ol > li + li,
.post ul > li + li {
  margin-top: var(--flow-space, 1em);
}

* {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: var(--blue);
  text-decoration: none;
  border-bottom: 2px solid var(--blue);
  transition: all 0.1s ease-in;
}

a:hover {
  color: var(--dark);
  border-bottom: 2px solid var(--dark);
}

h1 a:link,
h1 a:visited,
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited,
h4 a:link,
h4 a:visited,
h5 a:link,
h5 a:visited {
  color: var(--dark);
  text-decoration: none;
  border-bottom: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.3;
}

h1 {
  font-size: var(--size-800);
  font-weight: 900;
  color: var(--dark);
}

h2 {
  font-size: var(--size-700);
  font-weight: 600;
  color: var(--dark);
}

h3 {
  font-size: var(--size-600);
  font-weight: normal;
  color: var(--dark);
}

h4 {
  font-size: var(--size-500);
  font-weight: normal;
  color: var(--dark);
}

@media (min-width: 45em) {
  h1 {
    font-size: var(--size-900);
  }

  h2 {
    font-size: var(--size-700);
  }

  p,
  li {
    font-size: var(--size-500) !important;
  }

  figcaption {
    font-size: var(--size-400);
  }

  blockquote p {
    font-size: var(--size-600);
    max-width: 40ch;
  }

  .post time {
    font-size: var(--size-600);
  }
}

p:not(.formkit-teaser),
li {
  max-width: 60ch;
}

blockquote p {
  max-width: 80ch;
}

.post h1 {
  max-width: 25ch;
}

.post h2,
.post h3,
.post h4 {
  max-width: 35ch;
}

header {
  margin-bottom: var(--space-l);
  background: var(--green);
  padding: var(--space-l);
}

header a:link,
header a:visited {
  color: var(--white);
}

header nav a:link,
header nav a:visited {
  border-bottom: 2px solid var(--white);
}
header nav a:hover,
header h1 a:hover {
  border-bottom: none;
}

header nav ul {
  margin: var(--space-m) 0;
  padding: 0;
  display: flex;
  list-style: none;
}

header nav li {
  padding: 0 var(--space-l);
}

header nav li:first-child {
  padding-left: 0;
}

.content {
  width: 95%;
  max-width: 800px;
  padding: var(--space-s) var(--space-l);
}

.content p,
.content li {
  color: var(--dark);
}

.content pre {
  font-size: 1.1em !important;
  line-height: 1.6;
}

.latest-blog-posts {
  margin: 0 0 var(--space-m) 0;
  padding: 0;
  list-style: none;
}

.latest-blog-posts-heading {
  margin-bottom: 0;
}

.latest-blog-posts li {
  margin: var(--space-xl) 0;
  border-left: 10px solid var(--green);
  padding-left: var(--space-m);
}

.archives {
  margin: var(--space-m) 0;
  padding: 0;
  list-style: none;
}

.archives li {
  margin-bottom: var(--space-xl);
}

.archives .teaser-time,
.post time {
  color: var(--green);
  text-transform: uppercase;
  font-size: 0.9em;
}

.archives .teaser-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: -3px;
}

.archives .teaser-intro {
  font-size: 1.1em;
  margin-top: var(--space-m);
}

.pagination {
  background-color: var(--green);
  display: flex;
}

.pagination ol {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination li {
  list-style: none;
}

.pagination a,
.pagination span {
  background: var(--green);
  padding: var(--space-s) var(--space-m);
  border-bottom: none;
  color: var(--white);
  display: block;
}

.post h1.heading {
  margin-top: 0;
}

.pagination a[aria-current] {
  background-color: var(--blue);
}
.pagination a:hover {
  background-color: var(--blue);
}

.post {
  --flow-space: var(--size-700);

  width: 90vw;
  width: clamp(16rem, 90vw, 70rem);
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5rem;
}

.post time {
  --flow-space: var(--size-400);
  display: block;
}

.post :is(h2, h3) {
  --flow-space: var(--size-900);
}

.post :is(h2, h3) + * {
  --flow-space: var(--size-400);
}

.post code {
  background: var(--green);
  color: var(--white);
  border-radius: 4px;
  padding: var(--space-s);
}

.post pre code {
  padding: 0 !important;
}

.post blockquote {
  font-style: italic;
  color: var(--blue);
  background: var(--grey);
  padding: var(--space-l);
  margin-left: var(--space-xl);
  font-size: 1.1em;
  border-left: 5px solid var(--green);
}

@media (max-width: 700px) {
  .post blockquote {
    margin-left: var(--space-m);
  }
}

.post-footer {
  border-top: 2px solid var(--blue);
  margin: var(--space-xl) 0;
}

.side-by-side-container {
  width: 90vw;
  max-width: 1000px;
}

.side-by-side-container.side-by-side-mode {
  display: flex;
}

.post > pre {
  width: 90vw;
  max-width: 1000px;
}

.side-by-side-container .code-block-wrapper.side-by-side-mode {
  width: 50%;
  padding: var(--space-m);
}

.code-block-wrapper.tabs-mode:not(.active-block) {
  display: none;
}

.side-by-side-container .code-block-wrapper:first-of-type {
  border-right: 2px solid var(--green);
}

.side-by-side-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.side-by-side-header button:first-of-type {
  margin-left: auto;
}

.side-by-side-header .tab-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-by-side-header .tab-links a {
  display: block;
  padding: var(--space-s) var(--space-l);
}

.side-by-side-header .tab-links a:not(.active-tab) {
  border-bottom: 4px solid transparent;
}

.side-by-side-header .tab-links a.active-tab,
.side-by-side-header .tab-links a:not(.active-tab):hover {
  border-bottom: 4px solid var(--green);
}

.post img {
  max-width: 100%;
  border: 1px solid var(--blue);
  padding: 2px;
}
