<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    {% if page.url.indexOf('blog') > -1 %}
      <link rel="stylesheet" href="/css/prism-material.css">
    {% endif %}
    <title>{% if title %}{{ title }} - {% endif %}Jack Franklin</title>
    {% include "social.njk" %}
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>
  <body class="mb-12 px-4">
    {% include "header.njk" %}
    <div class="content">
      {{ content | safe }}
    </div>
  </body>
</html>



