---
layout: default
pageClass: posts
templateEngineOverride: njk, md
---
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:image" content="{{title|blogCard}}" />
<section class="post flow">
  <time class="time" value="{{ item.date }}">{{ page.date | readableDate }}</time>
  <h1 class="heading">{{ title }}</h1>
  {{ content | safe }}
  <div class="post-footer">
    <p>
      If you enjoyed this post, be sure to <a href="https://www.twitter.com/jack_franklin">follow me on Twitter</a> or <a href="https://indieweb.social/@jackf">Mastodon</a>.
    </p>
    <p>
      <a href="/blog">All blog posts</a>
    </p>
  </div>
</section>
{% set js %}
  {% include "js/out/app.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>


