<li>
  <h4 class="teaser-title"><a href="{{ item.url }}" class="naked-link">{{ item.data.title }}</a></h4>
  <time value="{{ item.date }}" class="teaser-time">{{ item.date | readableDate }}</time>
  <div class="teaser-intro">
    {{ item.data.intro | safe }}
  </div>
</li>
