<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="/assets/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <hgroup>
        <h1>{{ page.title }}</h1>
        <h2>{{ page.second_title }}</h2>
      </hgroup>

      <div class="primary">
        {{ content }}
      </div>
      <div class="secondary">
        <h2>Get in Touch</h2>
        <p>The best way is to email jack [at] jackfranklin [dot] net</a>.</p>
        <p>If you're into social networks, you can <a href="http://twitter.com/Jack_Franklin">follow me on Twitter</a> or check out <a href="http://github.com/jackfranklin">code on Github</a>.
        
        <h2>Buy my Book!</h2>
        <p>My first book, <a href="http://www.apress.com/9781430249320">Beginning jQuery</a>, introduces the reader to the jQuery JavaScript library. Published in February 2013.</p>

      </div>

    </div>

    <footer>
      <p>All content is &copy; Jack Franklin.</p>
    </footer>

  </body>
</html>

