---
layout: default
---

<section>
  <p>Day to day you'll find me working on <a href="https://developers.google.com/web/tools/chrome-devtools/">Chrome DevTools</a> as a frontend engineer.</p>
  <p>This site is also where you'll also find my <a href="/blog">blog posts</a> where I write and record content on JavaScript, React, software development and more.</p>

  {% set item = collections.post | last %}
  <div class="latest-blog-post">
    <h2>
      <small>Latest blog post</small>
      <a href="{{item.url}}">{{item.data.title}}</a>
    </h2>
    <p>{{item.data.intro}}</p>
  </div>
</section>
