---
title: React in Five
layout: default
---

<section>

  <h3>React in Five</h3>
  <p>This was a video course that I released in August 2018 that shared some tips and tricks for improving your React applications.</p>

  <p>The videos are now slightly outdated due to changes in React and you can now find <strong>the entire series free</strong> on <a href="https://www.youtube.com/playlist?list=PLGDf0elkI13GUz08meaVeXIG-Lk0LD1C_">my YouTube channel</a>.</p>

  <p>If you purchased these videos from 1st January 2020 onwards and would like a refund, please drop me an email on <code>jack@jackfranklin.co.uk</code> and I will sort that out for you.</p>
</section>
