---
title: The Refactoring Tales
layout: default
---

<section>
  <h3>The Refactoring Tales</h3>
  <p>The refactoring tales was a collection of articles about refactoring JavaScript applications that I put together many years ago with the eventual aim being to put them together into a book.</p>

  <p>Unfortunately that plan never materialised and the content now is rather outdated and not something that I'm actively working on. I don't recommend it as learning material now simply as so much has changed in the frontend space since I wrote it. This page exists to serve the surprisingly large amount of traffic that gets directed at it each month!</p>

  <p>I think you'll enjoy my <a href="/blog">recent blog articles</a> which contain my more relevant, up to date thoughts on software architecture and refactoring techniques but if you really would like to check out the Refactoring Tales, you can find <a href="https://github.com/jackfranklin/javascriptplayground.com/tree/895aa9e5fcb55d65111906dd17d6634fae0ba451/the-refactoring-tales">an old version on GitHub</a>.</p>
</section>
