---
title: Conference Speaking
layout: default
---

<section>

  <h3>Speaking at your event</h3>
  <p>I have a lot of experience speaking at industry conferences, meet-ups and events. I'm always keen to get involved  and normally fit best into technical events with a focus on JavaScript or front end development generally.</p>

  <p>If you'd like to have me speak at your event please do get in touch. You can email jack@jackfranklin.net or <a href="http://twitter.com/Jack_Franklin">DM me on Twitter</a>.</p>

  <h3>My speaker details</h3>

  <p>Below you can find a biography and picture for your event's website.</p>

  <p>Jack is a Software Engineer at Google in London working on the Chrome DevTools. He's a regular speaker and writer on topics including JavaScript, Software Design and maintaining software systems.</p>

  <p>You can <a href="/images/speaking.png">click here to download a picture for the website</a>.</p>
</section>
