---
title: Testing React with Enzyme and Jest
layout: default
---

<section>

  <h3>Testing React with Enzyme and Jest</h3>
  <p>This was a video course that I released in February 2018 that covered how to set-up and test your React applications with the test runner Jest and the React testing library Enzyme.</p>

  <p>The videos are now slightly outdated due to the libraries changing and you can now find <strong>the entire series free</strong> on <a href="https://www.youtube.com/playlist?list=PLGDf0elkI13EfDa45q-q1YpAIMBl5mjab">my YouTube channel</a>.</p>

  <p>If you purchased these videos from 1st January 2020 onwards and would like a refund, please drop me an email on <code>jack@jackfranklin.co.uk</code> and I will sort that out for you.</p>
</section>
