---
title: Tools and tech I use
layout: default
---

<section>
  <h3>What I use</h3>
  <p>This page documents any particular hardware/software/tools/etc that I use on a daily basis that people sometimes ask about.</p>

  <h3>Editing Code</h3>
  <ul>
    <li>I, among with about 99% of other developers it seems (!) use VSCode as my daily editor. I used to be a Vim user, but found the quality of extensions in VSCode better, especially for front-end work. I use the
      <a href="https://marketplace.visualstudio.com/items?itemName=auiworks.amvim">amVim</a>
      extension to give me the Vim keybindings within VSCode.</li>
    <li>I use the
      <a href="https://github.com/jdinhify/vscode-theme-gruvbox">Gruvbox</a>
      theme within VSCode (although I do change this fairly often so let me know if this is out of date!).</li>
    <li>I chop and change fonts quite often, but my current favourite is
      <a href="https://github.com/be5invis/Iosevka">Iosevka</a>. I like how it looks and it's entirely free :)</li>
    <li>I don't do much design work but when I do need to throw something together (usually a YouTube thumbnail), I use
      <a href="https://www.figma.com">Figma</a>
    </li>
  </ul>

  <h3>Recording screencasts</h3>
  <ul>
    <li>I currently record screencasts on my Mac Mini and edit them with
      <a href="https://www.telestream.net/screenflow/overview.htm">Screenflow</a>. I actually use Windows more these days so I'm exploring solutions to record and edit on Windows.</li>
    <li>I use a
      <a href="https://www.bluedesigns.com/products/yeti/">Blue Yeti microphone</a>
      which I've found great; it strikes a good balance of price vs audio quality for me.</li>
  </ul>
</section>
